/* Write your CSS here */
.app-container {
  background-color: #ffc2a0;
  height: 100vh;
}

.todo-card-container {
  background-color: #ffffff;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 15px;
  margin-top: 50px;
}

.heading {
  color: #ff8542;
  text-align: center;
}

.list-main-container {
  margin-top: 50px;
}
